.highlight {
  margin: 20px 0;
}

.highlight pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f2f2f2;
}

footer {
  margin-top: 0 !important;
}
